body {
  padding-top: 50px;
}

#team1players, #team2players, #team1score, #team2score {
	color: red;
}

#colortap {
  background-color: white;
  display: block;
  width: 100px;
  height: 100px;
}

.main-container {
  padding: 40px 15px;
}
